.mainContent {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url("sunset.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .backgroundTbl {
        background-color: #edc7b7;
        opacity: 90%;
        width: 850px;
        height: 500px;
        border-radius: 24px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        .tbody {
            padding-top: 20px;
        }
        table {
            color: 2px black;
            width: 100%;
            tr {
                padding: 16px;
            }
            td {
                outline: 1px #333 solid;
                padding: 8px;
                fa-icon {
                    padding-right: 12px;
                    cursor: pointer;
                }
            }
        }
    }
}

// .reset button {
//     background-color: white;
//     width: 50%;
//     height: 25px;
//     border-radius: 8px;
//     border-color: #C8A2C8;
//     transition-duration: 0.4s;
// }
// .reset button:hover {
//     background-color: blueviolet;
//     color: white;
// }
.back {
    background-color: white;
    width: 50%;
    height: 25px;
    border-radius: 8px;
    border-color: #C8A2C8;
    transition-duration: 0.4s;
}

button:hover {
    background-color: blueviolet;
    color: white;
}

.webdesigntuts-workshop {
    input {
        padding-top: 8px;
        padding-bottom: 8px;
        width: 20%;
    }
    button {
        padding-top: 8px;
        padding-bottom: 8px;
        width: 20%;
    }
}