<div class="mainContent">

    <div *ngIf="viewedUserIndex == undefined" class="backgroundTbl">
        <div class="webdesigntuts-workshop">
            <input class="forInput" type="text" placeholder="Search here..." required (change)="getData(searchVal.value)" #searchVal>
            <button (click)="searchVal.value=''" (click)="ngOnInit();" class="clear">Clear</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        <H3 style="font-size: 20pt; padding-top: 20px;">Users</H3>
                    </th>
                </tr>

                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Actions</th>
                </tr>

                <tbody>
                    <tr *ngFor="let user of users; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.age }}</td>
                        <td>
                            <fa-icon (click)="deleteUser(i)" [icon]="faTrash"></fa-icon>
                            <fa-icon (click)="viewUserData(i)" [icon]="faEdit"></fa-icon>
                        </td>
                    </tr>
                </tbody>
                <!-- <div class="reset">
                    <button (click)="resetDB()">Reset</button>
                </div> -->
                <button (click)="nav('login')" class="back">Back</button>
                <!-- </thead> -->
        </table>
    </div>
    <edit-user *ngIf="viewedUserIndex != undefined" [user]="users[viewedUserIndex]" (backEvent)="handleBackEvent($event)"></edit-user>
    <!-- <div class="reset">
        <button (click)="resetDB()">Reset</button>
    </div> -->
</div>